* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}